<div data-controller="admin-link" class="overflow-x-auto hidden xl:block ">
  <%= render AdminCardComponent.new(title: "Events", link_text: "New Event", link_path: new_admin_event_path) do %>
    <table class="table w-full">
      <thead>
      <tr>
        <th>Location</th>
        <th>Start</th>
        <th>End</th>
        <th>When</th>
        <th>Address</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @events.each do |event| %>
        <tr class="hover cursor-pointer" data-url="<%= admin_event_path(event) %>">
          <td>
            <%= link_to admin_event_path(event), title: event.location, class: "tooltip" do %>
              <%= event.location.truncate(13) %>
            <% end %>
          </td>
          <td><%= format_time(event.start) %></td>
          <td><%= format_time(event.end) %></td>
          <td><%= format_date(event.when) %></td>
          <td><%= event.address %></td>
          <td><%= link_to "Edit", edit_admin_event_path(event), class: "link link-primary" %></td>
          <td><%= button_to "Delete", admin_event_path(event), method: :delete, data: { turbo: false }, class: "link text-red-400 hover:text-primary/80" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<div class="grid md:grid-cols-3 xl:hidden grid-cols-1">
  <div class="lg:mt-8 lg:me-10 md:block hidden mt-4">
    <h2 class="text-primary text-3xl mb-4">Manage Events</h2>
    <%= link_to "Events", admin_events_path, data: { turbo: false }, class: "link link-primary block mb-4" %>
    <%= link_to "Users", admin_users_path, data: { turbo: false }, class: "link link-primary block mb-4" %>
    <%= link_to "Customers", admin_customers_path, data: { turbo: false }, class: "link link-primary block mb-4" %>
    <%= link_to "Adoption Applications", "#", data: { turbo: false }, class: "link link-primary" %>
  </div>
  <div>
    <div class="flex justify-center">
      <%= link_to "New Event", new_admin_event_path, class: "btn btn-primary" %>
    </div>
    <% @events.each do |event| %>
      <%= render CardComponent.new(title: event.location) do %>
        <p><%= format_day_of_week(event.when) %>, <%= format_date(event.when) %></p>
        <p><%= format_time(event.start) %> - <%= format_time(event.end) %></p>
        <p><%= event.address %></p>
        <div class="card-actions">
          <%= link_to "View event", admin_event_path(event), class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


