<%= render AdminCardComponent.new(title: @event.location, link_text: "Edit #{@event.location}", link_path: edit_admin_event_path(@event), btn_path: admin_event_path(@event)) do %>
  <hr>

  <div class="inline">LOCATION <span class="mx-12"><%= @event.location %></span></div>
  <div class="inline">ADDRESS <span class="mx-12"><%= @event.address %></span></div>
  <div class="inline">START <span class="mx-12"><%= format_time(@event.start) %></span></div>
  <div class="inline">END <span class="mx-12"><%= format_time(@event.end) %></span></div>
  <div class="inline">WHEN <span class="mx-12"><%= format_date(@event.when) %></span></div>
  <div class="inline">DIRECTIONS <span class="mx-12"><%= @event.directions %></span></div>
<% end %>