<div class="container mx-auto mt-10 px-12 hidden lg:block">
  <%= render AdminCardComponent.new(title: @event.location, link_text: "Edit", link_path: edit_admin_event_path(@event), btn_path: admin_event_path(@event)) do %>
    <hr>

    <div class="grid grid-cols-3">
      <div class="mb-2">LOCATION</div>
      <div class="mb-4"><%= @event.location %></div>
    </div>

    <div class="grid grid-cols-3">
      <div class="mb-2">ADDRESS</div>
      <div class="mb-4"><%= @event.address %></div>
    </div>

    <div class="grid grid-cols-3">
      <div class="mb-2">START</div>
      <div><%= format_time(@event.start) %></div>
    </div>

    <div class="grid grid-cols-3">
      <div class="mb-2">END</div>
      <div><%= format_time(@event.end) %></div>
    </div>

    <div class="grid grid-cols-3">
      <div class="mb-2">WHEN</div>
      <div><%= format_date(@event.when) %></div>
    </div>

    <iframe
      style="border:0"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>
    &q=<%= @event.address %>">
    </iframe>
  <% end %>
</div>

<div class="grid md:grid-cols-3 lg:hidden grid-cols-1">
  <div class="lg:mt-8 lg:me-10 md:block hidden mt-4">
    <%= link_to "Events", admin_events_path, data: { turbo: false }, class: "link link-primary block mb-4" %>
    <%= link_to "Users", admin_users_path, data: { turbo: false }, class: "link link-primary block mb-4" %>
    <%= link_to "Customers", admin_customers_path, data: { turbo: false }, class: "link link-primary block mb-4" %>
    <%= link_to "Adoption Applications", "#", data: { turbo: false }, class: "link link-primary" %>
  </div>
  <div>
    <%= render CardComponent.new(title: @event.location) do %>
      <p><%= format_day_of_week(@event.when) %>, <%= format_date(@event.when) %></p>
      <p><%= format_time(@event.start) %> - <%= format_time(@event.end) %></p>
      <p><%= @event.address %></p>
      <iframe
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>
    &q=<%= @event.address %>">
      </iframe>
      <div class="card-actions flex-col md:flex-row justify-center items-center mt-4">
        <%= link_to "Edit", edit_admin_event_path(@event), class: "btn btn-primary" %>
        <%= link_to "Back", admin_events_path, class: "btn btn-accent" %>
        <%= button_to "Delete", admin_event_path(@event), method: :delete, class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>
</div>
