<div class="flex justify-between mb-4">
  <div class="lg:mt-8 lg:me-10 lg:block md:block hidden">
    <%= link_to "Events", admin_events_path, data: { turbo: false }, class: "link link-primary block mb-4" %>
    <%= link_to "Users", admin_users_path, data: { turbo: false }, class: "link link-primary block mb-4" %>
    <%= link_to "Customers", admin_customers_path, data: { turbo: false }, class: "link link-primary block mb-4" %>
    <%= link_to "Adoption Applications", "#", data: { turbo: false }, class: "link link-primary" %>
  </div>
  <div class="card lg:w-full bg-base-100 xl:h-[83vh] mb-10 shadow-xl <%= @extra_classes %>">
    <div class="flex justify-between items-center lg:flex-row flex-col">
      <h2 class="card-title m-4"><%= @title %></h2>
      <div class="card-actions lg:block hidden flex justify-center items-center mx-2">
        <% if @btn_path %>
          <%= button_to "Destroy", @btn_path, method: :delete, data: { turbo: false }, class: "btn btn-danger m-4" %>
        <% end %>
        <% if @link_text && @link_path %>
          <%= link_to @link_text, @link_path, data: { turbo: false }, class: "btn btn-primary m-4" %>
        <% end %>
      </div>
    </div>
    <div class="card-body p-4">
      <%= content %>
    </div>
  </div>
</div>


