<div tabindex="0" class="collapse collapse-arrow border <%= @extra_container_classes %>">
  <input type="checkbox" />
  <div class="collapse-title text-xl text-center <%= @extra_title_classes %>">
    <%= @title %>
  </div>
  <div class="collapse-content <%= @extra_content_classes %>">
    <%= content %>
  </div>
</div>