<details tabindex="0" class="collapse bg-base-200 collapse-arrow <%= @extra_container_classes %>">
  <summary class="collapse-title text-xl font-medium <%= @extra_title_classes %>"><%= @title %></summary>
  <div class="collapse-content <%= @extra_content_classes %>"> 
    <p><%= content %></p>
  </div>
</details>
