<h1 class="text-center text-2xl font-bold mb-2 text-primary"> Adopting From Wags </h1>
<div class="w-fit flex flex-col justify-center">

  <%= render CollapseComponent.new(title: "Adoption Guidelines", extra_container_classes: "hover:bg-sky-500/25 rounded-xl") do %>
      <%= render "adoption_guidelines" %>
  <% end %>

  <%= render CollapseComponent.new(title: "Our Adoption Area", extra_container_classes: "hover:bg-sky-500/25 rounded-xl") do %>
    <%= render "our_adoption_area" %>
  <% end %>

  <%= render CollapseComponent.new(title: "How We Determine What Breed A Dog Is", extra_container_classes: "hover:bg-sky-500/25 rounded-xl") do %>
    <%= render "determine_dog_breed" %>
  <% end %>

  <%= render CollapseComponent.new(title: "Application Review Process", extra_container_classes: "hover:bg-sky-500/25 rounded-xl") do %>
    <%= render "application_review_process" %>
  <% end %>

  <%= render CollapseComponent.new(title: "Adoption Agreement", extra_container_classes: "hover:bg-sky-500/25 rounded-xl") do %>
    <%= render "application_agreement" %>
  <% end %>

  <%= render CollapseComponent.new(title: "Adoption Fees", extra_container_classes: "hover:bg-sky-500/25 rounded-xl") do %>
    <%= render "adoption_fees" %>
  <% end %>

  <%= render CollapseComponent.new(title: "About The Adoption Fees", extra_container_classes: "hover:bg-sky-500/25 rounded-xl") do %>
    <%= render "about_adoption_fees" %>
  <% end %>

  <p class="text-center mb-2 rounded-lg text-[#3367d6]">
    <b>
      <a href="#">Click Here to View Wags Senior Citizen Adoption Policy
        <i class="fa-solid fa-arrow-up-right-from-square" style="color: #3367d6;"></i></a>
    </b>
  </p>
  <p class="text-center mb-2 text-[#3367d6]">
    <b>
      <a href="#" target="_blank">I've Read the Above and am Ready to Complete the Adoption Application
        <i class="fa-solid fa-arrow-up-right-from-square" style="color: #3367d6;"></i></a>
    </b>
  </p>
  <div class="flex justify-center">
    <%= button_to "Click here to Pay Your Adoption Fee", "https://www.paypal.com/donate?token=#{ENV['PAYPAL_TOKEN']}", class: "btn btn-primary", target: "_blank" %>
  </div>
</div>
