<div>
  <h3 class="text-3xl text-primary mb-4 mt-4">Upcoming Events</h3>
  <hr>
  <div class="flex flex-col sm:flex-row sm:flex-wrap sm:-mx-2 gap-4">
    <% @events.each do |event| %>
      <%= render CardComponent.new(title: event.location) do %>
        <p><%= format_day_of_week(event.when) %>, <%= format_date(event.when) %></p>
        <p><%= format_time(event.start) %> - <%= format_time(event.end) %></p>
        <p><%= event.address %></p>
        <div class="card-actions">
          <%= link_to "Directions", event.directions, target: "_blank", class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>