<div class="flex justify-center items-center h-screen">
  <%= render CardComponent.new(title: "Sign In", extra_title_classes: "text-primary") do %>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-control">
          <%= f.label :email, class: "label label-text" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-primary input-bordered w-full max-w-xs" %>
        </div>
        <div class="form-control">
          <%= f.label :password, class: "label label-text" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "input input-primary input-bordered w-full max-w-xs" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-control mt-4">
            <%= f.label :remember_me, class: "label cursor-pointer" do %>
              <span class="label-text">Remember Me</span>
              <%= f.check_box :remember_me, class: "checkbox checkbox-primary" %>
            <% end %>
          </div>
        <% end %>
        <div class="card-actions mt-4 mb-4 items-center justify-center">
          <%= f.submit "Sign In", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="flex-col card-actions items-center justify-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
