<%= render AdminCardComponent.new(title: @user.email, link_text: "Edit #{@user.email}", link_path: edit_admin_user_path(@user), btn_path: admin_user_path(@user)) do %>
  <hr>

  <div class="inline">ID <span class="mx-12"><%= @user.id %></span></div>
  <div class="inline">EMAIL <span class="mx-12"><%= @user.email %></span></div>
  <div class="inline">CREATED AT <span class="mx-12"><%= format_date_time(@user.created_at) %></span></div>
  <div class="inline">UPDATED AT <span class="mx-12"><%= format_date_time(@user.updated_at) %></span></div>
  <% if @user.admin? %>
    <div class="inline">ADMIN <span class="mx-12">Yes</span></div>
  <% else %>
    <div class="inline">ADMIN <span class="mx-12">No</span></div>
  <% end %>
<% end %>