<div class="navbar z-10 absolute text-white">
  <div class="navbar-start w-[33rem]">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li tabindex="0"><%= link_to "Home", root_path %></li>
        <!-- I think instead of a dropdown here on mobile, maybe use a collapse https://daisyui.com/components/collapse/ -->
        <li class="dropdown" tabindex="0">
          <div>
            Adopt
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </div>
          <ul class="p-2 dropdown-content menu shadow bg-base-100 rounded-box w-52">
            <li><%= link_to "Adopt", adopting_path %></li>
            <li><%= link_to "Our Dogs", our_dogs_path %></li>
            <li><%= link_to "Our Cats", our_cats_path %></li>
            <li><%= link_to "Adoption Application", "#" %></li>
          </ul>
        </li>
        <li class="dropdown" tabindex="0">
          <div>
            Foster
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </div>
          <ul class="p-2 dropdown-content menu shadow bg-base-100 rounded-box w-52">
            <li><%= link_to "Foster Application", "#" %></li>
          </ul>
        </li>
        <li><%= link_to "Volunteer", volunteer_path %></li>
        <li><%= link_to "Fundraising", fundraising_path %></li>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Donate", donate_path %></li>
        <li><%= link_to "Wish List", wishlist_path %></li>
        <li><%= link_to "AmazonSmile", amazon_smile_path %></li>
        <li><%= link_to "Contact Us", contact_us_path %></li>
        <li><%= link_to "About Us", about_us_path %></li>
        <li><%= link_to "FAQ", faq_path %></li>
        <li><%= link_to "Wags Wiki", wags_wiki_path %></li>
      </ul>
    </div>
    <%= link_to root_path, class: "btn btn-ghost normal-case text-xl" do %>
      <%= image_tag "wags_logo.png", class: "w-10 h-10 mr-2" %>
      Wags Rescue
    <% end %>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li class="hover:bg-red-700 hover:rounded-lg" tabindex="0"><%= link_to "Home", root_path %></li>
      <!-- And here on desktop views, keep as a dropdown on hover, and have it "Adopt" as a link to the adopt and foster pages -->
      <li class="dropdown dropdown-hover" tabindex="0">
        <%= link_to adopting_path do %>
          Adopt
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
        <% end %>
        <ul class="p-2 dropdown-content text-black menu shadow bg-base-100 rounded-box w-52">
          <li><%= link_to "Our Dogs", our_dogs_path %></li>
          <li><%= link_to "Our Cats", our_cats_path %></li>
          <li><%= link_to "Adoption Application", "#" %></li>
        </ul>
      </li>
      <li class="dropdown dropdown-hover" tabindex="0">
        <%= link_to foster_path do %>
          Foster
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
        <% end %>
        <ul class="p-2 dropdown-content text-black menu shadow bg-base-100 rounded-box w-52">
          <li><%= link_to "Foster Application", "#" %></li>
        </ul>
      </li>
      <li><%= link_to "Volunteer", volunteer_path %></li>
      <li><%= link_to "Fundraising", fundraising_path %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Donate", donate_path %></li>
      <li><%= link_to "Wish List", wishlist_path %></li>
      <li><%= link_to "AmazonSmile", amazon_smile_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
      <li><%= link_to "About Us", about_us_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "Wags Wiki", wags_wiki_path %></li>
    </ul>
  </div>
</div>