<!DOCTYPE html>
<html class="bg-[#a6c7fd]/20" data-theme="light">
<head>
  <title>Wags Rescue</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <script src="https://kit.fontawesome.com/c0ac58946c.js" crossorigin="anonymous"></script>
</head>

<body>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0&appId=568168888854102&autoLogAppEvents=1" nonce="nEM1ILbH"></script>
<%= render "layouts/alerts" %>
<%= render(DrawerComponent.new(home: true, my_yield: yield, current_user: current_user, user_signed_in: user_signed_in?)) %>
</body>
</html>
